@charset "utf-8";
@import "mixins";

body {
    max-width: 2048px;
    min-width: 1024px;
    min-height: 780px;
    margin: 0;
}

/* ========== GENERAL STYLES ========== */

header {
    // content layout management
    @include flex($direction: row, $align: center, $justify: space-between);
    @include box($padding: 10px 100px 10px 10px, $backcolor: #000000, $radius: 0px);

    img {
        width: 180px;
        height: 60px;
    }

    a {
        @include span($color: $color_font_secondary);
        // style overrides
        text-decoration: none;
        // pseudo styles
        &:hover, &:active {
            text-decoration: underline;
        }
    }
}

main {
    // content layout management
    @include flex($direction: row);
    @include box($height: 700px, $padding: unset, $backcolor: unset, $radius: 0px);
}

div.container {
    // content layout management
    @include flex($align: center, $justify: center);
    @include box($backcolor: unset, $radius: 0px);
}

div.thumbnail {                
    // content layout management
    @include flex($align: center, $justify: center);
    @include box($width: 54px, $height: 54px);
}

div.left {
    // content layout management
    @include flex($align: center, $justify: space-around);
    @include box($width: 80px, $height: 700px, $padding: unset, $backcolor: #000000, $radius: 0px);

    ul {
        // style overrides
        list-style-type: none;
        padding-left: 0;

        > li {
            // style overrides
            margin-bottom: 10px;
        }
    }

    > span {    
        @include span($size: $font_small, $weight: 300, $color: $color_font_secondary);
        transform: rotate(-90deg);
        width: max-content;
    }
}

div.content {
    // content layout management
    @include flex($direction: row);
    @include box($width: calc(100% - 80px), $height: 700px, $padding: 09px 75px, $radius: 0px);
    // style overrides
    flex-wrap: wrap;
    
    * {
        font-family: "Roboto", sans-serif;
        font-size: $font_small;
    }

    // greetings
    > div:nth-of-type(1) {
        // content layout management
        @include flex($align: flex-start, $justify: center);
        @include box($width: 100%, $height: 25%, $radius: 0px);
        
        * {
            @include span($margin: unset, $size: $font_large, $weight: 500);
        }

        span {
            // style overrides
            color: red;
        }

        h4 {
            // style overrides
            font-size: 15px;
            font-weight: 300;
        }
    }

    // charts
    > div:nth-of-type(2) {
        // content layout management
        @include flex($justify: space-between);
        @include box($width: 75%, $height: 75%, $radius: 0px);
    }

    // stats
    > div:nth-of-type(3) {
        @include box($width: 25%, $height: 75%, $radius: 0px);

        ul {
            // content layout management
            @include flex($justify: space-between);
            @include box($height: 100%, $radius: 0px);
            // style overrides
            padding-top: 0;
            margin: 0;
            list-style-type: none;
    
            > li {
                // content layout management
                @include flex($direction: row, $justify: flex-start);
                @include box($width: 100%, $padding: 17.5px, $backcolor: $color_background_secondary);

                > div:nth-of-type(2) {
                    // style overrides
                    margin-left: 17.5px;
                    > span:nth-of-type(1) {
                        @include span();
                    }
                    > span:nth-of-type(2) {
                        @include span($size: $font_small, $weight: 300, $color: grey);
                    }
                }
            }
        }
    }

}

/* ========== CHARTS STYLES =========== */

// bar chart wrapper div
div.bar-wrapper {
    // content layout management
    @include box($padding: 0px, $backcolor: $color_background_secondary);

    // bar chart tooltip layout
    .tooltip {
        // content layout management
        @include flex($justify: center);
    }
}

// radial overlayed div layout
div.bar-header {
    // content layout management
    @include flex($direction: row, $justify: space-between);
    @include box($padding: 15px 35px, $backcolor: $color_background_secondary);

    .dot {
        height: 7.5px;
        width: 7.5px;
        border-radius: 50%;
        display: inline-block;
    }

    > div {
        @include flex($direction: row, $justify: space-between);
        // width: 25%;
        color: grey;
    }
}

// horizontal charts wrapper
div.horizontal-wrapper {
    // content layout management
    @include flex($direction: row, $align: center, $justify: space-between);
    @include box($width: 100%, $height: 48.75%, $padding: 10px 0);

    // style overrides
    position: relative;
}

// line chart wrapper div
div.line-wrapper {
    // content layout management
    @include box($padding: unset, $backcolor: red);
    // style overrides
    color: lightgrey;
    font-size: 15px;
}

// radar chart wrapper div
div.radar-wrapper {
    // content layout management
    @include box($padding: unset, $backcolor: black);
    // style overrides
    color: white;
    font-size: 12px;
}

// radial chart wrapper div
div.radial-wrapper {
    // content layout management
    @include box($padding: unset, $backcolor: $color_background_secondary);
}

// radial overlayed div layout
div.radial-overlay {
    // content layout management
    @include flex($justify: center);
    // style overrides
    position: absolute;
    right: 0px;
    
    * {
        color: grey;
    }

    > span:nth-of-type(1) {
        position: absolute;
        top: 25px;
        left: 15px;
    }
    
    > span:nth-of-type(2) strong {
        font-size: 25px;
        color: black;
    }
}